%h1 Bem vindo ao sistema administrativo do website !
%h2 Aqui poderá criar, editar e selecionar o nível de acesso de cada administrador
  
=link_to(new_administrador_admin_path, {class: 'ExpandButton'}) do
  %span 
    Novo Administrador

%br
%br

- if @admin != nil
  %table
    %tr
      %th{colspan:2}
        Listando administradores
      %th 
        Nivel de Acesso 
      %th
        Criado em
      %th
        Modificado em 
      %th
        Editar
      %th
        Excluir      
    - @admin.each do |a|
      %tr
        %td
          = link_to a.name, administrador_admin_path(a.id), method: :get
        %td
          = mail_to a.email, a.email
        %td{align: "center"}
          = a.admin_level  
        %td{align: "center"}
          %span{title: "#{l a.created_at}"}
            = distance_of_time_in_words(a.created_at, Time.now, true)       
        %td{align: "center"}
          %span{title: "#{l a.updated_at}"} 
            = distance_of_time_in_words(a.updated_at, Time.now, true)
        %td
          = link_to "Editar Admin", edit_administrador_admin_path(a.id) 
        %td 
          = link_to "Excluir Admin", administrador_admin_path(a.id), method: :delete, confirm: "Esta certo que deseja deletar o Admin #{a.name}?"
        
%br     
=link_to(new_administrador_admin_path, {class: 'ExpandButton'}) do
  %span 
    Novo Administrador









