%h1 Bem vindo ao sistema administrativo do website !
%h2 Aqui poderá criar, editar e selecionar o nível de acesso de cada Personal Trainers

%br
%br

- if @personals.empty?
  %p Nenhum resultado encontrado
- else
  %table
    %tr
      %th{colspan:2}
        Listando os Personal Trainers
      %th
        Listar url
      %th
        Personal ativo?
      %th
        Criado em
      %th
        Modificado em
      %th
        Editar
      %th
        Inativar/Ativar
      - if @admin_auth.admin_level == "1"
        %th
          Deletar Personal
        
    - @personals.each do |a|
      %tr
        %td
          = link_to a.name, "/#{a.url}"
        %td
          = mail_to a.email, a.email
        %td
          = a.url
        %td
          -if a.active.to_s === "true"  
            Ativo
          -else
            Inativo
        %td
          %span{title: "#{l a.created_at}"}
            = distance_of_time_in_words(a.created_at, Time.now, true)    
        %td
          %span{title: "#{l a.updated_at}"}
            = distance_of_time_in_words(a.updated_at, Time.now, true)
        %td
          = link_to "Editar Personal", edit_administrador_personal_path(a.id) 
        %td 
          -if a.active.to_s === "true"  
            = link_to "Inativar Personal", desativar_administrador_personal_path(a.id), method: :desativar, confirm: "Esta certo que deseja deletar o Personal #{a.name}?"
          -else
            = link_to "Re-ativar Personal", reativar_administrador_personal_path(a.id), method: :reativar, confirm: "Esta certo que deseja reativar o Personal #{a.name}?"
        - if @admin_auth.admin_level == "1"
          %td
            = link_to "Deletar", administrador_personal_path(a.id), method: :delete, confirm: "Esta ação deletará permanentemente o Personal: #{a.name}, está certo disso?"
%br       
=link_to(new_administrador_personal_path, {class: 'ExpandButton'}) do
  %span 
    Novo Personal Trainer

  







