%h1 Bem vindo ao sistema administrativo do website !
%h2 Aqui poderá criar, editar e selecionar o nível de acesso de cada Personal Trainers

%br
%br

- if @personals.empty?
  %p Nenhum resultado encontrado
- else
  %table
    %tr
      %th{colspan:2}
        Listando os Personal Trainers
      %th
        Listar url
      %th
        Criado em
      %th
        Modificado em
      %th
        Editar
      %th
        Excluir 
        
    - @personals.each do |a|
      %tr
        %td
          = a.name
        %td
          = mail_to a.email, a.email
        %td
          = a.url
        %td
          %span{title: "#{l a.created_at}"}
            = distance_of_time_in_words(a.created_at, Time.now, true)    
        %td
          %span{title: "#{l a.updated_at}"}
            = distance_of_time_in_words(a.updated_at, Time.now, true)
        %td
          = link_to "Editar Personal", edit_administrador_personal_path(a.id) 
        %td 
          = link_to "Excluir Personal", administrador_personal_path(a.id), method: :delete, confirm: "Esta certo que deseja deletar o Admin #{a.name}?"
%br     
=link_to(new_administrador_personal_path, {class: 'ExpandButton'}) do
  %span 
    Novo Personal Trainer









